@keyframes fade-in {
  from { opacity: 0; transform: translateY(40px);}
  to { opacity: 1; transform: translateY(0);}
}
.animate-fade-in {
  animation: fade-in 0.8s cubic-bezier(.4,0,.2,1) both;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(40px);}
  to { opacity: 1; transform: translateY(0);}
}
.animate-fade-in {
  animation: fade-in 0.5s cubic-bezier(.4,0,.2,1) both;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


@keyframes fade-in-category {
  from { opacity: 0; transform: translateY(40px);}
  to { opacity: 1; transform: translateY(0);}
}
.animate-fade-in-category {
  animation: fade-in 0.7s cubic-bezier(.4,0,.2,1) both;
}

// mostrar categories
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

$button-width: 120px;
$border-radius: 5px;

.click-btn {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  line-height: 35px;
  border-radius: $border-radius;
  text-align: center;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  transition: all 0.35s;
  box-sizing: border-box;
}

.btn-style700 {
  $btn-color: #ffffff;
  $btn-hover-color: #F57C00;//#dd6395
  position: relative;
  border-color: $btn-color;
  color: $btn-color;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    border-color: $btn-hover-color;
    border-radius: $border-radius;
    border-style: solid;
    transition: all 0.35s;
    content: "";
    z-index: 1;
  }
  &::before {
    width: 0;
    height: 100%;
    border-width: 1px 0 1px 0;
  }
  &::after {
    width: 100%;
    height: 0;
    border-width: 0 1px 0 1px;
  }
  &:hover {
    border-color: $btn-hover-color;
    color: $btn-hover-color;
    &::before {
      width: 100%;
      border-width: 1px 0 1px 0;
    }
    &::after {
      height: 100%;
      border-width: 0 1px 0 1px;
    }
  }
}

.btn-style2 {
  $btn-color: #dd7e2a;
  $btn-hover-color: #b5c952;
  border-color: $btn-color;
  color: $btn-color;
  &:hover {
    box-shadow: 0 0.25em 0.25em -0.1em $btn-hover-color;
    transform: translateY(-0.25em);
    border-color: $btn-hover-color;
    color: $btn-hover-color;
  }
}

.btn-style3 {
  $btn-color: #979695;
  $btn-hover-color: #5e5e5e;
  border-color: $btn-color;
  color: $btn-color;
  &:hover {
    transform: translateY(-0.25em);
    box-shadow: 0 0 0.5em 0em $btn-hover-color;
    border-color: $btn-hover-color;
    color: $btn-hover-color;
  }
}