<footer class="mt-24">
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="social_icon">
    <li><a href="https://www.instagram.com/jd_g25/"><ion-icon name="logo-facebook"></ion-icon></a></li>
    <li><a href="https://www.instagram.com/jd_g25/"><ion-icon name="logo-twitter"></ion-icon></a></li>
    <li><a href="https://www.instagram.com/jd_g25/"><ion-icon name="logo-linkedin"></ion-icon></a></li>
    <li><a href="https://www.instagram.com/jd_g25/"><ion-icon name="logo-instagram"></ion-icon></a></li>
  </ul>
  
  <ul class="menu">
    <li><a href="https://www.instagram.com/jd_g25/">Inicio</a></li>
    <li><a href="https://www.instagram.com/jd_g25/">Productos</a></li>
    <li><a href="https://www.instagram.com/jd_g25/">Servicios</a></li>
    <li><a href="https://www.instagram.com/jd_g25/">Equipo</a></li>
    <li><a href="https://www.instagram.com/jd_g25/">Contacto</a></li>
  </ul>
  <p>La tienda del Diego tronco | Todos los derechos reservados &#64;2025</p>
</footer>
